/* contains CSS styling for common objects */


/* used for 3 prof buttons  */
/* used for 'check' button */
.prof-buttons{
    width: 300px;
}


/* this background is added to the common pages in the app */
.mainBackground1{
    background-image: url(../../assets/images/main-background.jpg);
    background-repeat: no-repeat;
    /* Optional: Adjust the background size to fit the element */
    /* Other values: contain, 100% 100%, etc. */
    background-size: cover; 
    /* used to add the image to the whole background */
    min-height: 100vh; 

    /* just added this, because there was a white space in the top of the page  */
    /* margin-top: -40px; */

}


/* large heading for main pages */
.heading1{
    color: azure;
    text-align: center;
    font-size: 60px;

}


/* use to center the check button */
.center-item{
    text-align: center;
   }


/* Basic/Grammar/Lesson 1  pages' stylings */
.page-style1{
    display: flex;
    justify-content: center;
    /* For vertical alignment */
    align-items: center; 
    /* Adjust the height as needed. This locates the box properly */
    height: 100vh; 
 } 


  /* white box in the middle of the page */
  .middle-box-property {
    height: auto;
    width: 50%;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 1%;
}


.inside-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}


/* this page structure is used for a page with 2 containers (Grammar/Lesson2 pages)*/
/* arrange 2 boxes in the page in left and right */
.page-style2{
    display: flex;
    /* keep a gap between 2 boxes */
    gap: 20px;
    justify-content: center;
    /* For vertical alignment -set same height for 2 boxes*/
    align-items: stretch; 
    /* Adjust the height as needed. This locates the box properly */
    height: 95vh; 
    /* margin-top: 10%; */
    /* padding: 1%; */
      
}


/* white box in left/ right of the page*/
.box-left {
    width: 50%;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
    padding: 15px;
}
